<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default suite">
  <test name="Default test" verbose="2">
    <classes>
        <class name="FunctionTestClass"/>
        <class name="EnumTestClass"/>
        <class name="StructTestClass"/>
        <class name="ModulTestClass"/>
    </classes>
  </test> <!-- Default test -->
</suite> <!-- Default suite -->
